In [1]:
import numpy as np
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize
from sklearn import *
import re
import patsy

In [2]:
defreg = pd.read_csv('/Users/caleboneel/Desktop/final-project-green/hashtagdf.csv')
len(defreg)

7613

In [3]:
defreg.target.sum()

3271

In [4]:
defreg.hashtag.isna().sum()

6215

In [5]:
defreg.hashtag.notna().sum()

1398

In [6]:
notna = defreg[defreg['hashtag'].notna()]
notna.target.sum()

686

In [7]:
defreg = defreg[['keyword', 'link', 'hashtag', 'target']]

In [8]:
defreg

     keyword  link              hashtag  target
0        NaN     0          #earthquake       1
1        NaN     0                  NaN       1
2        NaN     0                  NaN       1
3        NaN     0           #wildfires       1
4        NaN     0   #wildfires #Alaska       1
...      ...   ...                  ...     ...
7608     NaN     1                  NaN       1
7609     NaN     0                  NaN       1
7610     NaN     1                  NaN       1
7611     NaN     0                  NaN       1
7612     NaN     1                  NaN       1

[7613 rows x 4 columns]

In [9]:
df = defreg.copy()
df['link'] = df['link'].astype('category')
df.keyword = df.keyword.astype('category')
df.hashtag = df.hashtag.astype('category')

In [10]:
y, X = patsy.dmatrices('target ~ link + keyword + hashtag + 1',df)

In [11]:
X.shape

(1378, 1334)

In [12]:
y.shape

(1378, 1)

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [14]:
X_train, X_test, Y_train, Y_test = train_test_split(X, y,
                                                    test_size=0.35,
                                                    train_size=0.65,
                                                    random_state=42)

In [15]:
my_model = LogisticRegression(random_state=0)

In [16]:
my_model.fit(X_train, Y_train.ravel())

LogisticRegression(random_state=0)

In [17]:
y_score = my_model.decision_function(X_test)
y_score_pred = my_model.predict(X_test)

In [18]:
from sklearn.metrics import plot_precision_recall_curve 
from sklearn.metrics import average_precision_score 
from sklearn.metrics import precision_recall_curve 
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score 
from sklearn.metrics import f1_score

In [19]:
 #Precision Score
precision = precision_score(Y_test, y_score_pred) #Recall Score
recall = recall_score(Y_test, y_score_pred) #F1 Score
f1 = f1_score(Y_test, y_score_pred)
#Average Precision score
y_score = my_model.predict_proba(X_test)
y_score = y_score[:,1]
avg_precision = average_precision_score(Y_test, y_score)
print('Precision score: {0:0.2f}'.format(precision))
print('Recall score: {0:0.2f}'.format(recall))
print('F1 score: {0:0.2f}'.format(f1))
print('Average precision-recall score:{0:0.2f}'.format(avg_precision))

Precision score: 0.69
Recall score: 0.59
F1 score: 0.64
Average precision-recall score:0.75

In [10]:
defreg

,id,keyword,location,text,target,link,hashtag
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1,0,#earthquake
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1,0,NaN
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1,0,NaN
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,0,#wildfires
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1,0,#wildfires #Alaska
...,...,...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1,1,NaN
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1,0,NaN
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii.,1,1,NaN
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1,0,NaN
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1,1,NaN

In [11]:
new = defreg[['link', 'target']]

In [12]:
new

      link  target
0        0       1
1        0       1
2        0       1
3        0       1
4        0       1
...    ...     ...
7608     1       1
7609     0       1
7610     1       1
7611     0       1
7612     1       1

[7613 rows x 2 columns]

In [14]:
new.groupby(['link']).sum()

      target
link
0       1099
1       2172